<div class="user-dashboard">
    <custom-user-navbar></custom-user-navbar>
    
    <div v-if="user">
        <section class="section has-background-light hero-section-padding">
            <div class="container">
                <h2 class="subtitle">
                    Welcome back,
                </h2>
                <h1 class="is-size-1 title">
                    {{ user.firstName + " " + user.lastName }}
                </h1>
            </div>
        </section>

        <section class="section is-medium">
            <div class="container">
                <h1 class="title">My Tags</h1>
                <div v-if="!tags.isEmpty">
                    <tag-card v-for="tag of tags" :tag="tag" :key="tag.id"></tag-card>
                </div>
                <div v-else>
                    <h2>You currently have no activated Secure Tags.</h2>
                </div>
            </div>
        </section>
    </div>

    <section class="section has-background-dark">
        <div class="container">
            <p class="has-text-centered has-text-white mb-2">
                Secure Tags<sup class="is-size-6">™</sup>
            </p>
        </div>
    </section>
</div>
