<div class="user-dashboard">
    <custom-user-navbar></custom-user-navbar>
    
    <div v-if="user">
        <section class="section has-background-light hero-section-padding">
            <div class="container">
                <h2 class="subtitle">
                    Welcome back,
                </h2>
                <h1 class="is-size-1 title">
                    {{ user.firstName + " " + user.lastName }}
                </h1>
                <p class="has-text-weight-bold">
                    {{ user.id }}
                </p>
            </div>
        </section>

        <section class="section is-medium">
            <div class="container">
                <div class="is-flex is-justify-content-space-between mb-3">
                    <div class="is-flex is-align-items-center">
                        <svg class="icon is-dark mr-2">
                            <use xlink:href="~feather#tag"></use>
                        </svg>
                        <h1 class="title">My Tags</h1>
                    </div>
                    <button class="button is-dark" @click="gotoUserTransferOwnership">Edit Tag</button>
                </div>
                <div v-if="!tags.isEmpty">
                    <tag-card v-for="tag of tags" :tag="tag" :key="tag.id"></tag-card>
                </div>
                <div v-else>
                    <h2>You currently have no activated Secure Tags.</h2>
                </div>
            </div>
        </section>
    </div>

    <custom-user-footer></custom-user-footer>
</div>
