<div class="client-tag-creation">
    <input type="text" class="input" placeholder="productName" v-model="productName">
    <input type="text" class="input" placeholder="companyName" v-model="companyName">
    <input type="text" class="input" placeholder="imageUrl" v-model="imageUrl">
    <input type="text" class="input" placeholder="imageUrl1" v-model="imageUrl1">
    <input type="text" class="input" placeholder="imageUrl2" v-model="imageUrl2">
    <input type="text" class="input" placeholder="imageUrl3" v-model="imageUrl3">
    <input type="text" class="input" placeholder="userId" v-model="userId">
    <button class="button" @click="createTag">Create Tag</button>
</div>