.tag-card
{
    .vertical-card
    {
        overflow: hidden;
        border-radius: 0.5rem;
        
        margin-bottom: 2rem;
        
        transition: 300ms box-shadow;
        
        .vertical-card-body
        {
            height: 100%;
        }
        
        .image
        {
            background: rgba(0, 0, 0, 0.01);
            background-blend-mode: darken;
        }
    }
    
    .vertical-card:hover
    {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
}