@import "./_variables.scss";
@import "~bulma/bulma";

* 
{
    box-sizing: border-box;
}

// TODO: Move to a typography file
h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.625rem;
}

h3
{
    font-size: 1.375rem;
}

h4
{
    font-size: 1.25rem;
}

// TODO: Move to a iconography file
.icon
{
    stroke: white;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    
    &.is-dark
    {
        stroke: $dark;
    }
}