<div class="user-edit-tag">

    <custom-user-navbar></custom-user-navbar>
    
    <div v-if="user && tags">
        <section class="section has-background-light hero-section-padding">
            <div class="container">
                <h2 class="subtitle">
                    Edit Tag
                </h2>
                <h1 class="is-size-1 title">
                    {{ user.firstName + " " + user.lastName }}
                </h1>
            </div>
        </section>
        
        <section class="section is-medium">
            <div class="container">
                <div class="mb-3">
                    <div class="is-flex is-align-items-center">
                        <svg class="icon is-dark mr-2">
                            <use xlink:href="~feather#tag"></use>
                        </svg>
                        <h1 class="title">My Tags</h1>
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="dropdown" :class="{ 'is-active': isTagDropdownOpen }">
                        <div class="dropdown-trigger">
                            <button class="button" @click="openTagDropdown">
                                <span>{{ selectTagDropdownPlaceholder }}</span>
                                <span class="icon is-small">
                                    <i class="material-icons">expand_more</i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu">
                            <div class="dropdown-content">
                                <div v-if="tags.isNotEmpty">
                                    <a class="dropdown-item" v-for="tag in tags" @click="selectTag(tag)">
                                        <span class="has-text-weight-bold">{{ tag.companyName }}</span>, {{ tag.productName }}
                                    </a>
                                </div>
                                <div v-else>
                                    <div class="dropdown-item">
                                        You have currently no activated tags.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" :class="{ 'is-active': isActionDropdownOpen }">
                        <div class="dropdown-trigger">
                            <button class="button" @click="openActionDropdown">
                                <span>{{ selectActionDropdownPlaceholder }}</span>
                                <span class="icon is-small">
                                    <i class="material-icons">expand_more</i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" @click="selectAction('Ownership Transfer')">
                                    Ownership Transfer
                                </a>
                                <a class="dropdown-item" @click="selectAction('Lost Tag')">
                                    Lost Tag
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-if="selectedTag">
                    <tag-card :tag="selectedTag"></tag-card>
                    <div class="columns" v-if="selectedAction === 'Ownership Transfer'">
                        <div class="column is-4">
                            <div class="field">
                                <label class="label">Enter New Owner UID</label>
                                <p class="control has-icons-left has-icons-right">
                                    <input type="text" class="input" placeholder="UID" v-model="targetOwnerId">
                                    <span class="icon is-small is-left">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="material-icons">done</i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <button class="button is-danger is-light" @click="transferTagOwnership">
                                    Transfer
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="columns" v-if="selectedAction === 'Lost Tag'">
                        <div class="column is-4">
                            <div class="field">
                                <label class="label">Lost Tag</label>
                            </div>
                            <div class="field">
                                <button class="button is-danger is-light" @click="flagTagAsLost" v-if="!selectedTag.isLost">
                                    Mark as Lost
                                </button>
                                <button class="button is-primary is-light" @click="flagTagAsFound" v-if="selectedTag.isLost">
                                    Mark as Found
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
    
    <custom-user-footer></custom-user-footer>
</div>